/* General rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: lightpink;
    border-bottom: 2px groove salmon;
    height: 80px;
}

#page-title {
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px darkgray;
    text-align: center;
}

main {
    height: calc(100vh - 80px);
    width: 100vw;
    background-color: rgba(253, 214, 220, 0.836);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Content wrapper */
#content-wrapper {
    height: 80%;
    width: 70%;
    position: relative;
}

/* Container of images and buttons */
.container {
    height: 50%;
    width: 100%;
}

#carousel {
    height: 100%;
    width: 100%;
}

#prev {
    position: absolute;
    top: 25%;
    transform: translate(0, -50%);
    height: 20px;
    left: 0;
    background-color: white;   
}

#next {
    position: absolute;
    top: 25%;
    transform: translate(0, -50%);
    height: 20px;
    right: 0;
    background-color: white;   
}

/* Yhumbnails section */
.thumbnails-container {
    width: 100%;
    height: 30%;
    display: flex;
}

.thumbnail{
    width: calc(100% / 5);
    max-height: 100%;
    object-fit: cover;
}

.active {
    border: 5px solid rgb(6, 177, 250);
    transform: scale(125%);
    z-index: 1;
}

/* Javascript classes */

.slide {
    height: 100%;
    width: 100%;
    position: relative;
}

.slide-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide-title {
    position: absolute;
    right: 20px;
    top: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.slide-subtitle {
    position: absolute;
    right: 20px;
    top: 40px;
    color: white;
    font-size: 20px;
}